<div class="container">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="alert alert-success form-group" *ngIf="successTextAlert">
        <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
        <strong>Sucesso!</strong> {{successTextAlert}}
      </div>
      <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
        <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
        <strong>Erro!</strong> {{errorTextAlert}}
      </div>
      <div class="row" style="padding-top: 5%">
        <div *ngIf="invitationsResponse" class="col-sm-12">
          <div *ngFor="let invitation of invitationsResponse">
            <div *ngIf="invitation.status === 'pending'" class="row">
              <div class="col-sm-4">
                <h4>{{invitation.sender.name}}</h4>
              </div>
              <div class="col-sm-4">
                <span>{{invitation.date}}</span>
              </div>
              <div class="col-sm-2">
                <a href="#" *ngIf="invitation.status === 'pending'" (click)="accepted(invitation.id, 'accepted')">Aceitar</a>
              </div>
              <div class="col-sm-2">
                <a href="#" *ngIf="invitation.status === 'pending'" (click)="rejected(invitation.id, 'rejected')">Rejeitar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
