<div class="container">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="alert alert-success form-group" *ngIf="successTextAlert">
        <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
        <strong>Sucesso!</strong> {{successTextAlert}}
      </div>
      <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
        <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
        <strong>Erro!</strong> {{errorTextAlert}}
      </div>
      <div class="row" style="padding-top: 5%">
        <div *ngIf="invitationsResponse" class="col-sm-12">
          <div *ngFor="let invitation of invitationsResponse">
            <div *ngIf="invitation.status === 'pending'" class="row">
              <div class="col-sm-4">
                <h4>{{invitation.sender.name}}</h4>
              </div>
              <div class="col-sm-4">
                <span>{{invitation.date | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
              </div>
              <div class="col-sm-2">
                <button *ngIf="invitation.status === 'pending'" class="btn btn-sm btn-success" type="button" (click)="accepted(invitation.id, 'accepted')">
                  <span>Aceitar</span>
                </button>
              </div>
              <div class="col-sm-2">
                <button *ngIf="invitation.status === 'pending'" class="btn btn-sm btn-outline-danger" type="button" (click)="accepted(invitation.id, 'rejected')">
                  <span>Rejeitar</span>
                </button>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
