<div *ngIf="jwt" class="container">
  <div *ngFor="let role of jwtResponse.roles" class="col-sm-12">
    <div class="col-sm-12">
      <div class="alert alert-success form-group" *ngIf="successTextAlert">
        <button type="button" class="close" (click)="closeSuccessTextAlert    ()">×</button>
        <strong>Sucesso!</strong> {{successTextAlert}}
      </div>
      <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
        <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
        <strong>Erro!</strong> {{errorTextAlert}}
      </div>
      <div class="row" style="padding-top: 5%;">
        <div *ngIf="contactsResponse" class="col-sm-12">
          <div *ngIf="contactsResponse.total_items === 0" class="row">
            <h3>Nenhum contato encontrado!</h3>
          </div>
          <div *ngFor="let user of contactsResponse.items | paginate: { itemsPerPage: 3, currentPage: p, totalItems: contactsResponse.total_items }">
            <div class="row">
              <div class="col-sm-4">
                <h4>{{user.name}}</h4>
              </div>
              <div class="col-sm-4">
                <span>{{user.email}}</span>
              </div>
              <div class="col-sm-2">
                <button *ngIf="!user.myFriend" class="btn btn-sm btn-secondary" type="button" (click)='invite(user.email)'>
                  <span>Convidar</span>
                </button>
                <button *ngIf="user.myFriend && !user.blocked" class="btn btn-sm btn-danger" type="button" (click)='blockContact(user.id, user.name)'>
                  <span>Bloquear Contato</span>
                </button>
              </div>
              <div *ngIf="role.authority === 'ROLE_ADMIN'" class="col-sm-2">
                <button class="btn btn-sm btn-outline-secondary" type="button" (click)='adminNew(user.email)'>
                  <span>Super Usuário</span>
                </button>
              </div>
            </div>
            <hr>
          </div>
          <div class="row justify-content-center align-items-center">
            <pagination-controls (pageChange)="pageChanged($event)"
                                 previousLabel="Anterior"
                                 nextLabel="Próximo">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
