<div *ngIf="jwt" class="container">
  <div *ngFor="let role of jwtResponse.roles" class="col-sm-12">
    <div class="col-sm-12">
      <div class="alert alert-success form-group" *ngIf="successTextAlert">
        <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
        <strong>Sucesso!</strong> {{successTextAlert}}
      </div>
      <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
        <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
        <strong>Erro!</strong> {{errorTextAlert}}
      </div>
      <div class="row" style="padding-top: 5%">
        <div *ngIf="contactsResponse" class="col-sm-12">
          <div *ngFor="let user of contactsResponse">
            <div class="row">
              <div class="col-sm-4">
                <h4>{{user.name}}</h4>
              </div>
              <div class="col-sm-4">
                <span>{{user.email}}</span>
              </div>
              <div class="col-sm-2">
                <a href="#" *ngIf="!user.myFriend" (click)="invite(user.email)">Convidar</a>
              </div>
              <div *ngIf="role.authority === 'ROLE_ADMIN'" class="col-sm-2">
                <a href="#" (click)="adminNew(user.email)">Tornar Super Usuário</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
