<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11 form-group padding-right-off">
        <input [(ngModel)]='name' type="text" class="form-control" minlength="3"
               placeholder="Campo para buscar pelo nome do usuário"/>
      </div>
      <div class="col-sm-1 form-group">
        <button type="button" class="btn btn-sm btn-primary" routerLink="/users/{{name}}" title="Buscar">
          Buscar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-sm btn-success" type="button" (click)="openModel()">
          <span>Nova Postagem</span>
        </button>
        <button class="btn btn-sm btn-default" type="button" (click)="openModelPasswordUpdate()">
          <span>Alterar Senha</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="alert alert-success form-group" *ngIf="successTextAlert">
        <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
        <strong>Sucesso!</strong> {{successTextAlert}}
      </div>
      <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
        <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
        <strong>Erro!</strong> {{errorTextAlert}}
      </div>
      <div class="row" style="padding-top: 5%">
        <div *ngIf="contactsResponse" class="col-md-3 col-sm-12">
          <div *ngFor="let contact of contactsResponse.items | paginate: { itemsPerPage: 3, currentPage: pContact, totalItems: contactsResponse.total_items }">
            <div class="row">
              <a routerLink="/contacts-detail/{{contact.email}}">
                {{contact.name}}
                <span *ngIf="!contact.active" style="color: #ff0000;">DESATIVADO</span>
              </a>
            </div>
          </div>
          <div class="row">
            <pagination-controls (pageChange)="pageContactChanged($event)"
                                 previousLabel=""
                                 nextLabel="">
            </pagination-controls>
          </div>
        </div>
        <div *ngIf="timelineResponse" class="col-md-7 col-sm-12">
          <div *ngFor="let post of timelineResponse.items | paginate: { itemsPerPage: 1, currentPage: p, totalItems: timelineResponse.total_items }">
            <div *ngIf="jwtResponse" class="row">
              <div class="row">
                <h3>{{post.title}}</h3>
              </div>
              <div class="row">
                <p>{{post.text}}</p>
              </div>
              <div class="row">
                <div class="col-md-5 col-sm-12">
                  <p>{{post.date | date: 'dd/MM/yyyy hh:mm:ss'}}</p>
                </div>
                <div class="col-md-5 col-sm-12">
                  <a routerLink="/contacts-detail/{{post.owner.email}}">
                    {{post.owner.name}}
                    <!--<span *ngIf="!post.owner.active" style="color: #ff0000;">DESATIVADO</span>-->
                  </a>
                </div>
                <div *ngFor="let role of jwtResponse.roles" class="col-md-2 col-sm-12">
                  <button *ngIf="post.owner.email === emailLogged || role.authority === 'ROLE_ADMIN'" class="btn btn-sm btn-outline-danger" type="button" (click)="openModelPostDelete(post.id)">
                    <span>Excluir</span>
                  </button>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="row justify-content-center align-items-center">
            <pagination-controls (pageChange)="pageChanged($event)"
                                 previousLabel="Anterior"
                                 nextLabel="Próximo">
            </pagination-controls>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div *ngIf="invitationsReceived">
            <label *ngIf="invitationsReceived">Convites Recebidos</label>
            <div *ngFor="let invitation of invitationsReceived">
              <div *ngIf="invitation.status === 'pending'" class="row">
                <div class="col-sm-4">
                  <a href="#" (click)="openInvitationModal(invitation.id)">{{invitation.sender.name}}</a>
                </div>
                <div class="col-sm-4">
                  <span>{{invitation.date | date: 'dd/MM/yyyy'}}</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div *ngIf="invitationsSent">
            <label *ngIf="invitationsSent">Convites Enviados</label>
            <div *ngFor="let invitation of invitationsSent">
              <div *ngIf="invitation.status === 'pending'" class="row">
                <div class="col-sm-4">
                  <span>{{invitation.receiver.name}}</span>
                </div>
                <div class="col-sm-4">
                  <span>{{invitation.date | date: 'dd/MM/yyyy'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #myModal identifier="myModal">
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="alert alert-success form-group" *ngIf="successTextAlert">
          <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
          <strong>Sucesso!</strong> {{successTextAlert}}
        </div>
        <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
          <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
          <strong>Erro!</strong> {{errorTextAlert}}
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label>Criar uma postagem</label>
          </div>
        </div>

        <form [formGroup]="postForm" (ngSubmit)="newPost(postForm.value)" novalidate>
          <div class="row justify-content-center align-items-center">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="title" placeholder="Título"/>
              <small [hidden]="postForm.get('title').valid" class="text-danger">
                OBRIGATÓRIO
              </small>
            </div>
            <div class="form-group">
              <textarea class="form-control" formControlName="text" placeholder="Texto" rows="5" maxlength="200">
              </textarea>
              <small [hidden]="postForm.get('text').valid" class="text-danger">
                OBRIGATÓRIO
              </small>
            </div>
            <div class="form-group">
              <label class="btn btn-default">
                <input type="file" (change)="selectFile($event)">
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!postForm.valid" title="Postar">
            Postar
          </button>
        </form>
      </div>
    </div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #modalPasswordUpdate identifier="modalPasswordUpdate">
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="alert alert-success form-group" *ngIf="successTextAlert">
          <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
          <strong>Sucesso!</strong> {{successTextAlert}}
        </div>
        <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
          <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
          <strong>Erro!</strong> {{errorTextAlert}}
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label>Alterar senha</label>
          </div>
        </div>

        <form [formGroup]="passwordUpdateForm" (ngSubmit)="passwordUpdate(passwordUpdateForm.value)" novalidate>
          <div class="row justify-content-center align-items-center">
            <div class="form-group">
              <input type="password" class="form-control" formControlName="old_password" placeholder="Senha Antiga"/>
              <small [hidden]="passwordUpdateForm.get('old_password').valid" class="text-danger">
                OBRIGATÓRIO
              </small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="new_password" placeholder="Nova Senha"/>
              <small [hidden]="passwordUpdateForm.get('new_password').valid" class="text-danger">
                OBRIGATÓRIO
              </small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="confirm_password"
                     placeholder="Confirme Nova Senha"/>
              <small [hidden]="passwordUpdateForm.get('confirm_password').valid" class="text-danger">
                OBRIGATÓRIO
              </small>
              <br>
              <small
                [hidden]="passwordUpdateForm.get('confirm_password').value === passwordUpdateForm.get('new_password').value"
                class="text-danger">
                NOVA SENHA E CONFIRMAÇÃO DE SENHA NÃO CONFEREM
              </small>
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!passwordUpdateForm.valid" title="Alterar">
            Alterar
          </button>
        </form>
      </div>
    </div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #modalPostDelete identifier="modalPostDelete">
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="alert alert-success form-group" *ngIf="successTextAlert">
          <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
          <strong>Sucesso!</strong> {{successTextAlert}}
        </div>
        <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
          <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
          <strong>Erro!</strong> {{errorTextAlert}}
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label>Deletar Postagem</label>
          </div>
        </div>

        <form [formGroup]="postDeleteForm" (ngSubmit)="deletePost(postDeleteForm.value)" novalidate>
          <div class="row justify-content-center align-items-center">
            <div class="form-group">
              <input type="hidden" class="form-control" formControlName="id"/>
            </div>
            <h4 class="text-danger">Esta postagem será excluída!</h4>
            <p>Deseja realmente excluir esta postagem?</p>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!postDeleteForm.valid" title="Excluir">
            Excluir
          </button>
        </form>
      </div>
    </div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #modalInvitation identifier="modalInvitation">
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="alert alert-success form-group" *ngIf="successTextAlert">
          <button type="button" class="close" (click)="closeSuccessTextAlert()">×</button>
          <strong>Sucesso!</strong> {{successTextAlert}}
        </div>
        <div class="alert alert-danger form-group" *ngIf="errorTextAlert">
          <button type="button" class="close" (click)="closeErrorTextAlert()">×</button>
          <strong>Erro!</strong> {{errorTextAlert}}
        </div>

        <div class="row">
          <div class="col-sm-12">
            <label>Convite Recebido</label>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-success" title="Aceitar" (click)="accepted(invitationId, 'accepted')">
          Aceitar
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger" title="Recusar" (click)="rejected(invitationId, 'rejected')">
          Recusar
        </button>
      </div>
    </div>
  </div>
</ngx-smart-modal>
